<template>
  <div class="page">
    <header>
      <div class="container">
        <div class="logo">BoardStreams #5</div>
        <div>
          Welcome, <ShowUser :id="myUserId" :key="myUserId"/>
          [<a class="red" @click="showModal">rename</a>]
        </div>
      </div>
    </header>

    <section class="subheader">
      <div class="container">
        <router-link to="/">Home page</router-link> |
        <router-link to="/demo1">Demo #1</router-link> |
        <router-link to="/chat">Chat</router-link> |
        <router-link to="/grid">Grid</router-link>
      </div>
    </section>

    <section class="online_users">
      <div class="container">
        These users are on the website:
        <span v-for="(userId, idx) in onlineUsers" :key="userId">
          <ShowUser :id="userId"></ShowUser>
          <span v-if="idx < onlineUsers.length - 1">,&nbsp;</span>
        </span>
      </div>
    </section>

    <main id="main">
      <div class="container">
        <router-view/>
      </div>
    </main>

    <footer>
      <div class="container">
        &copy; Alexander Karelas 2022-present
      </div>
    </footer>
  </div>

  <div id="modal" v-if="modalShown">
    <form @submit.prevent="submitRename">
      <div class="header">Rename to...</div>
      <div class="body">
        <div>Enter your desired username:</div>
        <div>
          <input type="text" v-model="newUsername" class="new-username" ref="foo" maxlength="15" />
        </div>
      </div>
      <div class="footer">
        <button class="submit" type="submit" style="display: none;">Submit</button>
        <button class="cancel" @click="modalShown = false">Cancel</button>&nbsp;
        <button class="submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
</template>

<script setup>
import { nextTick, ref, computed, onMounted } from 'vue'
import { useObservable } from '@vueuse/rxjs'
import BS, { myUserId } from './libs/BS'

const globalStream = BS.newStream('global');
globalStream.join();

const globalState = useObservable(globalStream.state$);
const onlineUsers = computed(() => globalState.value ? Object.keys(globalState.value.online_users) : []);

// modal
const modalShown = ref(false);
const newUsername = ref('');
const foo = ref();
async function showModal() {
  newUsername.value = '';
  modalShown.value = true;
  await nextTick();
  foo.value.focus();
}
async function submitRename() {
  if (! newUsername.value) return;
  globalStream.doAction('rename_to', newUsername.value);
  modalShown.value = false;
}

onMounted(async () => {
  myUserId.value = await globalStream.doRequest('whoami', null, { waitForJoin: true });
})
</script>

<style lang="scss" scoped>
.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

    .container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.subheader {
  background-color: grey;
  color: white;
  font-weight: bold;

  a {
    color: white;
  }
}

header {
  background-color: blue;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  background-color: grey;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: xxx-large;
  font-weight: bold;
}

.online_users .container {
  border: 5px solid blue;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 3px;
}

.red {
  color: red;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  & > form {
    .header {
      background-color: grey;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 3px 8px;
      font-weight: bold;
      font-size: x-large;
    }

    .body {
      background-color: white;
      padding: 3px 8px;

      .new-username {
        width: 100%;
      }
    }

    .footer {
      background-color: grey;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 3px 8px;
      text-align: right;

      .cancel {
        color: red;
      }

      .submit {
        color: green;
      }
    }
  }
}
</style>