<template>
  <teleport to="#modals">
    <GlobalEvents
      @keyup.esc="emit('close')" />

    <div class="overlay">
      <div class="modal">
        <div class="header">
          <slot name="header"></slot>
        </div>
        <div class="main">
          <slot></slot>
        </div>
        <div class="footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script setup>
// eslint-disable-next-line no-undef
const emit = defineEmits(['close']);
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  min-width: 450px;

  .header {
    background-color: #ccc;
    padding: 5px 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
    font-size: x-large;
  }

  .main {
    background-color: white;
    padding: 12px 12px;
  }

  .footer {
    background-color: #ccc;
    padding: 5px 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: right;
  }
}
</style>
