<template>
  <span>{{ userObj?.name }}</span>
</template>

<script>
import { onUnmounted } from 'vue'
import BS from '../libs/BS'
import { useObservable } from '@vueuse/rxjs';

let userStreams = {};

export default {
  props: ['id'],
  setup(props) {
    const userId = props.id;
    if (! userId) return;

    let stream;
    if (userId in userStreams) {
      userStreams[userId].count++;
      stream = userStreams[userId].stream;
    } else {
      userStreams[userId] = {
        count: 1,
        stream: BS.newStream(`users:${userId}`),
      };
      stream = userStreams[userId].stream;
      stream.join();
    }

    const userObj = useObservable(stream.state$);

    onUnmounted(() => {
      userStreams[userId].count--;
      if (! userStreams[userId].count) {
        userStreams[userId].stream.destroy();
        delete userStreams[userId];
      }
    });

    return { userObj };
  }
}
</script>