<template>
  <div>
    <a href="https://gitlab.com/karjala/new5-boardstreams-com/-/blob/main/html/src/views/Chat.vue"
       rel="noopener noreferrer" target="_blank"
    >
      Vue page
    </a>
    &nbsp;
    <a href="https://gitlab.com/karjala/new5-boardstreams-com/-/blob/main/perl/lib/MyApp/Plugin/BSChat.pm"
       rel="noopener noreferrer" target="_blank"
    >
      Perl module
    </a>
  </div>
  <div class="chat-window">
    <div class="left">
      <div class="messages">
        <div v-for="(msg, idx) in messages" :key="idx">
          <span class="time">[{{ getDate(msg.time) }}]</span>&nbsp;
          <ShowUser :id="msg.user_id" :key="msg.user_id" />:
          {{ msg.message }}
        </div>
      </div>
      <form class="user-input" @submit.prevent="say">
        <ShowUser :id="myUserId" :key="myUserId" />:&nbsp;
        <input type="text" v-model="userInput" ref="input" maxlength="200" />&nbsp;
        <button type="submit">Say</button>
      </form>
    </div>
    <div class="right" v-if="chatState">
      <div v-for="user in users">
        <ShowUser :id="user" :key="user" />
      </div>
    </div>
  </div>
</template>

<script setup>
import BS from '../libs/BS'
import { myUserId } from '../libs/BS'
import { ref, onMounted, computed, onBeforeUnmount } from 'vue'
import { useObservable, useSubscription } from '@vueuse/rxjs'
import dayjs from 'dayjs'

const input = ref();
const userInput = ref('');

const messages = ref([]);

const chatStream = BS.newStream('chat');
useSubscription(
    chatStream.eventsPatches$.subscribe(evPa => {
      const { event, patch, id } = evPa;
      if (! event) return;
      messages.value.push(event);
    })
);
chatStream.join();
const chatState = useObservable(chatStream.state$);
const users = computed(() => {
  if (! chatState.value) return [];
  return Object.keys(chatState.value.users).sort();
})

async function say() {
  if (! userInput.value) return;
  await chatStream.doRequest('say', userInput.value);
  userInput.value = '';
}

function getDate(time) {
  return dayjs(time).format('D/M/YYYY H:mma');
}

onMounted(() => {
  // resizeChatWindow();
  input.value.focus();
})

onBeforeUnmount(() => {
  chatStream.destroy();
})
</script>

<style lang="scss" scoped>
.chat-window {
  flex-grow: 1;
  border: 5px solid blue;
  display: flex;

  .left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .messages {
      flex-grow: 1;
      padding: 3px;
    }

    .user-input {
      border-top: 5px solid blue;
      padding: 3px;
      margin: 0;
      display: flex;

      input {
        flex-grow: 1;
      }
    }
  }

  .right {
    width: 300px;
    border-left: 5px solid blue;
    padding: 3px;
  }
}

.time {
  color: grey;
  font-size: small;
  font-family: monospace;
}
</style>