<template>
  <p>
    <a href="https://gitlab.com/karjala/new5-boardstreams-com/-/blob/main/html/src/views/Demo1.vue"
       rel="noopener noreferrer" target="_blank"
    >
      Vue page
    </a>
    &nbsp;
    <a href="https://gitlab.com/karjala/new5-boardstreams-com/-/blob/main/perl/lib/MyApp/Plugin/BSDemo1.pm"
       rel="noopener noreferrer" target="_blank"
    >
      Perl module
    </a>
  </p>

  <p>
    Open two browsers on this page, and watch the counter increase on both when you click on the button once.
  </p>

  <p>
    Count: {{ counter }}
  </p>

  <p>
    <button @click="inc">Increase counter</button>
  </p>
</template>

<script setup>
import { onBeforeUnmount } from 'vue'
import BS from '../libs/BS';
import { useObservable } from '@vueuse/rxjs'

const st = BS.newStream('demo1');
st.join();

const counter = useObservable(st.state$);

function inc() {
  st.doAction('inc');
}

onBeforeUnmount(() => {
  st.destroy();
});
</script>
