<template>
  <div>
    <a href="https://gitlab.com/karjala/new5-boardstreams-com/-/blob/main/html/src/views/Grid.vue"
       rel="noopener noreferrer" target="_blank"
    >
      Vue page
    </a>
    &nbsp;
    <a href="https://gitlab.com/karjala/new5-boardstreams-com/-/blob/main/perl/lib/MyApp/Plugin/BSGrid.pm"
       rel="noopener noreferrer" target="_blank"
    >
      Perl module
    </a>
  </div>

  <div class="grid-page">
    <GlobalEvents
      @keyup.up="move(0, -1)"
      @keyup.down="move(0, 1)"
      @keyup.left="move(-1, 0)"
      @keyup.right="move(1, 0)"
    />
    <table class="grid">
      <tr v-for="i in 10">
        <td v-for="j in 10">
          <div v-if="gridState?.grid?.[`${j},${i}`]" class="pawn">
            {{ gridState.grid[`${j},${i}`].substring(0, 2) }}
          </div>
        </td>
      </tr>
    </table>
    <div class="instructions">
      Use the arrow keys to move.
    </div>
    <div class="online-users" v-if="onlineUsers.length">
      <div v-for="user in onlineUsers" :key="user">
        {{ user.substring(0, 2) }}: <ShowUser :id="user" :key="user" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onBeforeUnmount } from 'vue';
import BS from '../libs/BS';
import { useObservable } from '@vueuse/rxjs';

const gridStream = BS.newStream('grid');

const gridState = useObservable(gridStream.state$);
const onlineUsers = computed(() => {
  if (! gridState.value) {
    return [];
  } else {
    return Object.keys(gridState.value.users);
  }
});
gridStream.join();


function move(dx, dy) {
  console.log('hi')
  gridStream.doAction('move', { x: dx, y: dy });
}

onBeforeUnmount(() => {
  gridStream.destroy();
})
</script>

<style lang="scss" scoped>
.grid-page {
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
}

table.grid {
  border-collapse: collapse;

  td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
  }
}

.instructions {
  display: flex;
  align-items: center;
}

.online-users {
  border: 5px solid green;
  padding: 3px;
}

.pawn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>