<template>
  <div>2 + 2 = {{ 2 + 2 }}</div>
  <p>
    This website was made with BoardStreams.pm (the Perl module) v0.0.30, and boardstreams (the JS library) 0.0.13.
    The full website source code can be found here:
  </p>
  <p>
    <a href="https://gitlab.com/karjala/new5-boardstreams-com" rel="noopener noreferrer" target="_blank">
      Gitlab repo</a>
  </p>
  <p>
    The two modules can be found
    <a href="https://metacpan.org/pod/BoardStreams" rel="noopener noreferrer" target="_blank">here</a>
    and
    <a href="https://www.npmjs.com/package/boardstreams" rel="noopener noreferrer" target="_blank">here</a>.
  </p>
</template>
